<?xml version="1.0"?>
<configuration>
  <configSections>
 </configSections>
 <connectionStrings>
  <add name="Main.ConnectionString" connectionString="data source=(local)\SQLEXPRESS;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False" />
  <add name="AW.Dal.SqlServer.Properties.Settings.Main" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AdventureWorks;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration> 